# Created by .ignore support plugin (hsz.mobi)
.idea/
/api-gateway-dynamic-filter/api-gateway-dynamic-filter.iml
/api-gateway-dynamic-route/api-gateway-dynamic-route.iml
/api-gateway-exception/api-gateway-exception.iml
